@charset "utf-8";
/* 基本色 */
:root {
	--groung-color: #FCFCFC;
	--base-plus-color: #D9D2CF;
	--red-color: #b35986;
	--green-color: #64CCAD;
	--blue-color: #295580;
	--little-dark-gray:#7F7F7F;
	--little-light-gray:#B5B5B6;
	--large-width: 1000px;
	--middle-width: 800px;
}
