@charset "UTF-8";
/* 余白防止のため */
html,body{margin:0;padding:0;}

.text-image {
position: relative;
width: 100%;
margin:0 auto;
}

.text-image img {
width: 100%;
margin:0;
padding:0;
display: block;
}

.txt-con {
  position: absolute;
  top: 15%;
  left: 4%;
  font-size: 1.5rem;
  color: #ffffff;
 text-shadow    : 
       2px  2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
      -2px -2px 1px #003366,
       2px  0px 1px #003366,
       0px  2px 1px #003366,
      -2px  0px 1px #003366,
       0px -2px 1px #003366;  
background-color: rgb(204,204,204, 0.9);
padding:6px;
width: 30%;
display:flex;
flex-direction: column;
}

.txt-con-ttl{
font-size: 1.5rem;
background-color: rgb(199,178,214, 0.9);
padding:6px;
margin:6px;
border-radius: 12px;
}

.txt-con-sbttl{
font-size: 1rem;
background-color: rgb(205,230,199, 0.9);
padding:6px;
margin:6px;
border-radius: 6px;
}
