@charset "UTF-8";
.secA{
background-color: var(--groung-color);
}
.container-shin{
display: flex;
width: 600px;
background-color: var(--groung-color);
margin: 0 auto;
flex-direction : column;
justify-content: center;
 align-items: center; 
}

.secA-cont{
display: flex;
flex-wrap: wrap;
width: 600px;
background-color: var(--groung-color);
margin: 0 auto;
justify-content: space-evenly; 
align-items: center;
/*border: solid;*/
}

.cont{
max-width:250px;
background-color: var(--base-plus-color);
text-align:center;
margin:5px;
padding:10px;
}

@media screen and (max-width:600px){
.container-shin{
flex-direction : column;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
width: 100vw;
}

.secA-cont{
flex-direction : column;
justify-content: center;
align-items: center;
width:80%;
}


.cont{
min-width:80%;
text-align:center;
}



}
