@charset "UTF-8";
.secB{
background-color: var(--groung-color);
}

.container-toku{
display: flex;
width: 600px;
background-color: var(--groung-color);
margin: 0 auto;
justify-content: space-evenly;
}

.cont-B{
min-width:300px;
max-width:500px;
width:80%;
background-color: var(--groung-color);
border: 1px solid var(--little-light-gray);
margin: 12px;
padding: 10px;
text-align: center;

}

.cont-B-ttl{
background-color: var(--red-color);
width:30%;
text-align: center;
padding:4px;
margin:4px;
color:var(--groung-color);
}

.cont-B-txt{
text-align: left;
}

@media screen and (max-width:600px){
.container-toku{
flex-direction : column;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
width: 100vw;
}

.cont-B{
min-width:80%;
text-align:center;
margin:10px;
}

}

