@charset "UTF-8";
footer{
background-color: var(--blue-color);
color: var(--groung-color);
width:100%;
}
.container{
display: flex;
width: 100%;
background-color: var(--blue-color);
margin: 0 auto;
justify-content: space-evenly;
}

.cont-A-1{
min-width:350px;
width:60%;
background-color: var(--blue-color);
text-align:center;
}

.cont-B-1{
min-width:200px;
width:30%;
background-color: var(--blue-color);
text-align:center;
}

@media screen and (max-width:600px){
.container{
flex-direction : column;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
width: 100vw;
}

.cont-A-1{
min-width:80%;
text-align:center;
margin:10px;
}

.cont-B-1{
min-width:80%;
text-align:center;


margin:10px;
}

}

