<a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
	<h2 class=" b lh-title mb1 primary">{{ .Title }}</h2>
	<p class="f6 mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
	<p class="f6 mb0">{{ .Description }}</p>
	<p class="link b dib black mb0">Read more →</p>
</a>
