      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
<a href="{{ .RelPermalink }}" class="secA-link">
	<p class="cont">{{ .Title }} | {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
</a>
      {{ end }}




