<div class="room">
  <div class="room-wrap">
    <h2 class="room-int">{{.intro.heading}}</h2>
    <p class="room-int-text">{{.intro.text}}</p>
	
	<div class="contents">
     		<div class="flexbox">
		{{ range .products }}
         		<div class="box">
		 	<img src="{{.image}}" alt=""  style="width: 100px"/>
             		<p class="text-center">{{.text}}</p>
         		</div>
		 {{ end }}
		</div>     
	</div>

    <div class="room-jump">
      <a href="/products" class="btn raise">See all products</a>
    </div>
  </div>
</div>

