<div class="room">
  <div class="room-wrap">
    <h2 class="room-int">{{.intro.heading}}</h2>
    <p class="room-int-text">{{.intro.text}}</p>



    <div class="room-each-wrap">
      {{ range .products }}
      <div class="room-each-con">
        <img src="{{.image}}" alt="" class="center-db-mb3" style="width: 100px"/>
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <div class="room-jump">
      <a href="/products" class="btn raise">See all products</a>
    </div>
  </div>
</div>
