<section class="secA">
	<div class="container-shin">

		<h2 class="secA-ttl">新着情報</h2>

		<div class="secA-cont">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				{{ .Render "list-1" }}
			
			{{ end }}
		</div>


	</div>
</section>
