<div class="blog">
	<div class="center">

		<h2 class="f2 b lh-title mb3">Latest stories</h2>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-100-ns flex">
					{{ .Render "list-1" }}
				</div>
			{{ end }}
		</div>


	</div>
</div>
