<div class="text-image">
  <img src="{{.imageUrl}}" alt="文字の代替">
	<div class="txt-con">  
		<div class="txt-con-ttl">
			<p>{{.title}}</p>
		</div>

		<div class="txt-con-sbttl">
 			{{ if .subtitle }}
			<p>{{.subtitle}}</p>
			{{ end }}
		</div>
	</div>
</div>

