<nav class="nav">

	<!-- Logo -->
<div class="nav-logo">
	<a href="/">
		<img src="/img/logo.svg" alt="Kaldi logo" class="nav-logo-pic"/>
	</a>
</div>
	<!-- Primary Nav -->
	<ul class="nav-list">
		<li><a href="/products" class="nav-list-con">Products</a></li>

		<li><a href="/values" class="nav-list-con">Values</a></li>

		<li><a href="/post" class="nav-list-con">Blog</a></li>

		<li><a href="/test01" class="nav-list-con">test01</a></li>

		<li><a href="/contact" class="nav-list-con">Contact</a></li>
	</ul>

</nav>


<style>
.nav{
height:40px;
    text-align: center;
    /*align-items: center;*/
    display: flex;
    justify-content: center;
}


.nav-logo{
height:10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}




.nav-logo img{
margin: 0 ;
padding: 0 ;
 }


.nav-logo img{
 height: 10px;
margin: 0 ;
padding: 0 ;
 }


nav ul{
margin: 0 ;
padding: 0 ;
}

nav ul li{
list-style: none;
display: inline-block;
width: 18%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
}

nav ul li.current a{
color: #F33135;
}

nav ul li a:hover{
color: #E7DA66;
}

</style>
