<link rel="stylesheet" href="text-and-image.css">

<div class="t-a-i">
	<div class="t-a-i-con">

		<div class="t-a-i-item">
			<div class="t-a-i-item-txt">
				<h2 class="t-a-i-item-txt-ttl">{{.heading}}</h2>

				<p>{{.text}}</p>
			</div>

			<div class="t-a-i-item-img">画像
				<img src="img/home-about-section.jpg" alt="" class="t-a-i-item-img-1">
			</div>
		</div>

		<div class="t-a-i-jmp-con">
			<a href="{{.buttonLink}}" class="t-a-i-jmp-itm">{{.buttonText}}</a>
		</div>

	</div>
</div>
