<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
{{ block "main" . }}
<div class="text-image">
  <img src="img/home-jumbotron.jpg" alt="トップ"/>
	<div class="txt-con">  
		<div class="txt-con-ttl">
			<p>タイトル</p>
		</div>
		<div class="txt-con-sbttl">
			<p>サブタイトル</p>
		</div>
	</div>
</div>
<section class="secB">
<div class="container-toku">
	<div class="cont-B">
		<p class ="cont-B-ttl" >練習用</p>
		<p class ="cont-B-txt">練習用で作成しています。Topページとブログ機能(未完成)のみの簡素なページです。項目や内容などは時間をかけて少しずつ増やしていく予定です。</p>
	</div>
</div>
</section>
  {{ partial "blog-2" . }}

<footer>
<div class="container">
	<div class="cont-A-1">
		<p>サイト</p>
		<p>テキスト2テキスト2テキスト2テキスト2テキスト2テキスト2テキスト2テキスト2</p>
	</div>
	<div class="cont-B-1">
		<p>コンテンツ</p>
		<p>テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１</p>
	</div>
</div>
</footer>
{{ end }}
