{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
<div class="center mw6 pv3">
<p>{{ .Params.description }}</p>
</div>

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.test04 }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}
</div>


<div class="mw7 center ph3 pt4">
{{ .Content }}
</div>


{{ end }}
